#products-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    // Products page  title
    .products-nav-list {
        color: $color-dark-grey;
        justify-content: center;
        margin: 5rem 0px 3rem;

        .products-nav-tt {
            @extend .page-section-titles-md;
            margin-right: 2.5rem;
            cursor: pointer;
            .active{
   
                text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
                    0px -1px 10px $color-dark-green;

        }
         
        }

    }

    // Plants
    .products-kind {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 4rem;


        //Type of  Plants 
        .product-kind {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2.5rem;

            // Plant image card
            .product-kind-img {
                height: 15.125rem;
                width: 15.125rem;
                border-radius: 40px;
                background-color: #0080803B;
                position: relative;

                // Plant image
                img {
                    object-fit: cover;
                    position: absolute;
                    bottom: 0px;
                    left: 50%;
                    transform: translateX(-50%);
                    margin: 0 auto;
                    max-height: 20.625rem;
                    max-width: 15.625rem;
                }
            }

            // Plants image card footer
            .product-kind-footer {
                text-align: center;
                margin-top: 10px;

                // Plants name
                .p-kind-name {
                    color: #008080;
                    @extend .card-plant-txt-size-sm;
                    font-weight: 700;
                }

                // Plants price
                .p-kind-price {
                    @extend .plants-card-name;
                    margin-top: 5px;
                }
            }


        }


    }

    // Products footer button
    .products-footer-btn {
        @extend .page-button;
        padding: 0.9rem 3rem;
        margin-top: 2.5rem;
        background-color: $color-dark-green;
        border-radius: 70px;
        color: $color-wht;
        transition: all 0.3s ease;
        border: 1.3px solid $color-dark-green;

        &:hover {
            color: $color-dark-green;
            background-color: transparent;
            padding: 1rem 3.2rem;
        }
    }

}